{% extends "base.html" %}
{% block title %}Create Question Set{% endblock %}

{% block content %}
<h1>Create a New Question Set</h1>
<!-- Question set creation form -->
<form method="POST">
    <div class="form-group">
        <label for="set_name">Question Set Name</label>
        <input type="text" class="form-control" id="set_name" name="set_name" value="{{ set_name or '' }}" required>
        <small class="form-text text-muted">Each question set name must be unique.</small>
    </div>
    
    <br>
    <button type="submit" class="btn btn-primary">Create Question Set</button>
    <a href="{{ url_for('tests.question_sets') }}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}