{% extends "base.html" %}
{% block title %}Create Question Set{% endblock %}

{% block content %}
<h1>Create a New Question Set</h1>
<form method="POST">
    <div class="form-group">
        <label for="set_name">Set Name</label>
        <input type="text" class="form-control" id="set_name" name="set_name" placeholder="Enter set name" required>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Create</button>
    <a href="{{ url_for('tests.question_sets') }}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}